img{
    max-width: 300px;
    margin: 10px;
    border:2px solid #444;
    border-radius: 6px;
    padding:4px;
}

code{
    border:2px solid #444;
    padding:4px;
    margin:10px;
}

.autogrow{
    min-width: 120px; 
    max-width: 700px;
    transition: width 120ms ease;
}

.growtextarea{
    min-height: 80px;
    max-height: 600px;
    resize: none;
    overflow: hidden;
    transition: height 0.15s linear;
}