@keyframes bounce{
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pullIn{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes pullOut{
    0%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-200px);
    }
}

img{
    max-width: 300px;
    margin: 10px;
    border:2px solid #444;
    border-radius: 6px;
    padding:4px;
}

code{
    color: white;
    background-color: #444;
    border: 3px solid rgb(195, 195, 195);
    padding:4px;
}

textarea{
    border: 3px solid #444;
    color: #444;
}

input{
    color:#444;
}

.autogrow{
    min-width: 120px; 
    max-width: 700px;
    transition: width 120ms ease;
}

.growtextarea{
    min-height: 30px;
    max-height: 400px;
    min-width: 180px;
    max-width: 600px;
    resize: none;
    overflow: hidden;
    transition: width 0.2s ease, height 0.2s linear;
}

.blogs{
    display:flexbox;
    border: 2px solid #444;
    background-color: #504e4e;
    padding: 10px;
    color: wheat;
    width: 96%;
}

body{
    opacity: 0;
    animation: bounce 0.9s forwards;
    background-color:rgb(237, 222, 199);
}

.nav{
    pointer-events: none;
    position: fixed;
    left: 0px;
    background-color: #444;
    padding: 20px;
    width: 200px;
    height: max-content;
    z-index: 99999;
}

.nav.show{
    animation: pullIn 1s forwards;
    pointer-events: auto;
}

.nav.hide{
    animation: pullOut 1s forwards;
    pointer-events: none;
}

.ui{
    border: 2px solid wheat;
    padding: 10px;
    background-color: wheat;
    color: #444;
    border-color: #444;
    text-decoration: none;
    display:flex;
}

.AboutMeCenter{
    border: 2px solid #444;
    padding: 10px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:wheat;
    color:#444;
}

.PictureBox{
    border: 2px solid #444;
    background-color: #504e4e;
    padding: 10px;
}

button{
    padding: 4px;
    border: 3px solid #444;
    background-color: #504e4e;
    color: wheat;
}

a{
    padding: 4px;
    border: 3px solid #444;
    background-color: #504e4e;
    color: wheat;
}

hr{
    color: #444;
    border: 1.5px solid #222;
}