{% extends "base.html" %}
{% block content %}
    <h2>About Me</h2>
    {# Draw an icon picture, animate an artwork as a gif and have it as a banner #}
    {# Display Portfolio here and have people comment #}
    <p>I am a first semester web programming and database student at Dunwoody during the day. I learn the ins and outs of the basics of App Dev, Cyber Defense, Cloud, Boolean Algebra, Systems, and Networking.</p>
    <p>Though my schedule may be packed at this moment, I am open to internship opportunities to build my work experience.</p>
    <p>At night, I do digital art study on my own to cool off. You can see two of my examples of what I draw as my icon and my banner. Most of my art studies are replication of art styles of the games that I love.</p>
    <p>For updates for my incomplete works, you will find them in the display blogs tab. You can make comments too, but you must log in first beforehand.</p>
{% endblock %}