{% extends "base.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/textbox.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/textarea.js') }}"></script>
{% endblock %}

{% block content %}
    <hr>
    <h2>Add A Category</h2>
    <form method="post" id="categoryForm">
        <input type="text" name="categoryName" class="autogrow" placeholder="New Category">
        <br>
        <br>
        <button type="submit" name="submit_category">Create Category</button>
        <br>
    </form>
        <br>
        <hr>
        <h2>Add A Blog</h2>
    <form method="post" id="blogForm" enctype="multipart/form-data">
        <label>Blog Name:</label>
            <br>
            <input type="text" name="blogname" class="autogrow" placeholder="Name Your Blog">
            <br>
            <br>
        <label>Add Images to Blog, Optional:</label>
            <br>
            <input type="file" id="fileInput" name="fileInput" accept="image/*" multiple>
            <div id="previewContainer"></div>
            <br>
        <label>Blog Contents:</label>
            <br>
            <textarea name="blogcontents" class="growtextarea"></textarea>
            <br>
            <br>
            <label>Select Relevant Categories, the content will be listed below:</label>
            {% for category in categories %}
                <br>
                <input type="checkbox" name="CategoryID" value="{{ category.CategoryID }}" {% if category.CategoryID in selected_category_ids %}checked{% endif %}> {{ category.CategoryName }} </option>
            {% endfor %}
        <br>
        <br>
        <button type="submit" name="submit_blog">Create Blog</button>
    </form>
    <br>
    <hr>
{% endblock %}