<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Blogfolio</title>
            <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
            <script src="{{ url_for('static', filename='js/menu.js') }}" defer></script>
            <script src="{{ url_for('static', filename='js/matomo.js') }}"></script>
            {% block scripts %}
            {% endblock %}

        </head>
        <body>
            <header>
                <br>
                <button class="menu" id="menuToggle" aria-expanded="false" aria-controls="menuList">☰</button>
                <nav id="nav" class="nav hide">
                    <a href="{{url_for('default')}}" class="ui">Default Page</a>
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('sign_up') }}" class="ui">Sign Up</a>
                    <a href="{{url_for('login')}}" class="ui">Login</a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('about_me', username=current_user.Username)}}" class="ui">Your Home Page</a>
                        <a href="{{ url_for('settings') }}" class="ui">Settings</a>
                        <a href="{{ url_for('profile_search') }}" class="ui">Search for Existing Users</a>
                        <a href="{{ url_for('add_portfolio') }}" class="ui">Create a New Portfolio</a>
                        <a href="{{ url_for('add_blog') }}" class="ui">Create a New Blog</a>
                    {% endif %}
                    <a href="{{ url_for('blog_display') }}" class="ui">View Public Blogs</a>
                    {% if current_user.is_authenticated and current_user.is_admin %}
                        <a href="{{ url_for('analytics') }}" class="ui">Analytics (DEBUG)</a>
                    {% endif %}
                </nav>
                {% if current_user.is_authenticated %}
                    <br>
                    <p>You are currently logged in as: {{current_user.Username}}</p>
                    <a href="{{ url_for('logout') }}">Log Off?</a>
                {% endif %}
                <h1>Blogfolio</h1>
            </header>
            <main>
                {% block content %}{% endblock %}
            </main>
        </body>
    </html>